/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


.custom-calendar-style {
  background-color: #eeeeee;
  border: 2px solid #00c7d1;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  padding: 12px;
}

/* Styles the individual year options inside the year picker */
.custom-calendar-style .react-datepicker__year-text {
  font-weight: bold;
  color: #374151;
}

/* Styles the hover state for a year */
.custom-calendar-style .react-datepicker__year-text:hover {
  background-color: #3b82f6 !important;
  color: white;
}